<!DOCTYPE html> <!-- HTML document type declaration -->
<html lang="en"> <!-- Start of the HTML element with English language attribute -->

<head>
    <meta charset="UTF-8"> <!-- Character encoding specification -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Viewport settings for mobile devices -->
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to external CSS file -->
    <link rel="icon"  type="img/ico" href="/img/icono.ico">
    <title>PQRS System</title> <!-- Page title -->
</head>

<body class="fondoIndex">
    <div class="contenedor">
        <h1>Bienvenido al Sistema PQRS</h1> <!-- Main page heading -->
        <% if (nombre && isAdmin) { %> <!-- Condition to check if there is a username and if user is admin -->
            <p>Hola, <%= nombre %>!</p> <!-- Personalized welcome message -->
            <a href="/submit">Enviar una PQRS</a> <!-- Link to submit a PQRS -->
            <a href="/view">Ver PQRS</a> <!-- Link to view PQRS -->
            <a href="/admin">Administrar PQRS</a> <!-- Link to manage PQRS -->
            <a href="/logout">Cerrar Sesión</a> <!-- Link to log out -->
            <% } else if (nombre){ %> <!-- Check if user is a normal user -->
                <p>Hola, <%= nombre %>!</p> <!-- Personalized welcome message -->
                <a href="/submit">Enviar una PQRS</a> <!-- Link to submit a PQRS -->
                <a href="/view">Ver PQRS</a> <!-- Link to view PQRS -->
                <a href="/logout">Cerrar Sesión</a> <!-- Link to log out -->
                <% } else { %> <!-- Block of code for unauthenticated users -->
                    <a href="/login">Iniciar Sesión</a> <!-- Link to log in -->
                <a href="/register">Registrarse</a> <!-- Link to register -->
                <% } %> <!-- End of the condition -->
    </div>
</body>

</html>
