<!DOCTYPE html> <!-- HTML document type declaration -->
<html lang="en"> <!-- Start of the HTML element with English language attribute -->
<head>
    <meta charset="UTF-8"> <!-- Character encoding specification -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport settings for mobile devices -->
    <link rel="stylesheet" href="/css/login.css"> <!-- Link to external CSS file -->
    <link rel="icon"  type="img/ico" href="/img/icono.ico">
    <title>Inicio de Sesión</title> <!-- Page title -->
</head>
<body class="fondo">
    <h1>Inicio de Sesión</h1> <!-- Main page heading -->
    <form method="POST" action="/login"> <!-- Login form -->
        <div class="contenedor">
        <label for="email">Email:</label> <!-- Label for the email field -->
        <input type="email" name="email" id="email" required> <!-- Input field for email -->
        <br>
        <label for="contraseña">Contraseña:</label> <!-- Label for the password field -->
        <input type="password" name="contraseña" id="contraseña" required> <!-- Input field for password -->
        <br>
        <button type="submit">Iniciar Sesión</button> <!-- Button to submit the login form -->
    </div>
    </form>
    <a href="/register">¿No tienes una cuenta? Regístrate aquí</a> <!-- Link to direct the user to the registration page -->
</body>
</html>
