<!DOCTYPE html> <!-- HTML document type declaration -->
<html lang="en"> <!-- Start of the HTML element with English language attribute -->
<head>
    <meta charset="UTF-8"> <!-- Character encoding specification -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport settings for mobile devices -->
    <link rel="stylesheet" href="/css/register.css"> <!-- Link to external CSS file -->
    <link rel="icon"  type="img/ico" href="/img/icono.ico">
    <title>Registro</title> <!-- Page title -->
</head>
<body class="fondo">
    <h1>Registro</h1> <!-- Main page heading -->
    <form method="POST" action="/register" id="registerForm"> <!-- Registration form -->
        <div class="contenedor">
        <label for="nombre">Nombre:</label> <!-- Label for the name field -->
        <input type="text" name="nombre" id="nombre" required> <!-- Input field for the name -->
        <br>
        <label for="email">Email:</label> <!-- Label for the email field -->
        <input type="email" name="email" id="email" required> <!-- Input field for the email -->
        <br>

        <label for="contraseña">Contraseña:</label> <!-- Label for the password field -->
        <input type="password" name="contraseña" id="contraseña" required> <!-- Input field for the password -->
        <br>
        <button type="submit">Registrarse</button> <!-- Button to submit the registration form -->
    </div>
    </form>
    <a href="/login">¿Ya tienes una cuenta? Inicia sesión aquí</a> <!-- Link to direct the user to the login page -->

</body>
</html>