<!DOCTYPE html> <!-- HTML document type declaration -->
<html lang="en"> <!-- Start of the HTML element with English language attribute -->

<head>
    <meta charset="UTF-8"> <!-- Character encoding specification -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Viewport settings for mobile devices -->
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to external CSS file -->
    <link rel="icon"  type="img/ico" href="/img/icono.ico">
    <title>Enviar PQRS</title> <!-- Page title -->
</head>

<body class="fondoSumbit">
    <h1>Enviar una PQRS</h1> <!-- Main page heading -->
    <form method="POST" action="/submit" class="contenedor"> <!-- Form to submit a PQRS -->
        <label for="tipo">Tipo:</label> <!-- Label for the type field -->
        <select name="tipo" id="tipo"> <!-- Dropdown menu to select the type -->
            <option value="Petición">Petición</option> <!-- Option for type Petition -->
            <option value="Queja">Queja</option> <!-- Option for type Complaint -->
            <option value="Reclamo">Reclamo</option> <!-- Option for type Claim -->
            <option value="Sugerencia">Sugerencia</option> <!-- Option for type Suggestion -->
            <option value="Solicitud">Solicitud</option> <!-- Option for type Request -->
            <option value="Informe">Informe</option> <!-- Option for type Report -->
        </select>
        <br>
        <label for="categoria_id">Categoría:</label> <!-- Label for the category field -->
        <select name="categoria_id" id="categoria_id"> <!-- Dropdown menu to select the category -->
            <% categorias.forEach(categoria=> { %> <!-- Loop to generate category options -->
                <option value="<%= categoria.id %>">
                    <%= categoria.nombre %>
                </option> <!-- Category option -->
                <% }); %> <!-- End of loop -->
        </select>
        <br>
        <label for="descripcion">Descripción:</label> <!-- Label for the description field -->
        <textarea name="descripcion" id="descripcion" required></textarea> <!-- Text area for the description -->
        <br>
        <center>
            <button type="submit">Enviar</button>
        </center> <!-- Button to submit the form -->
        <a href="/">Volver a Inicio</a> <!-- Link to return to the home page -->
    </form>
</body>
</html>