/* Sets the main font for the entire document body */
body {
    font-family: Arial, sans-serif;
    background-color: white; /* Changes the background color to white */
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg,hsla(0, 0%, 100%, 0.8),#ffffff60),
    url(../img/admin_fondo.jpeg);
    background-size: cover;
    background-position:center;
}

/* Styles for level 1 headings */
h1 {
    color: #333; /* Sets the text color for h1 headings */
}

/* Styles for tables */
table {
    width: 70%; /* The table takes up 70% of the available width */
    border-collapse: collapse; /* Merges the borders of table cells */
    margin-top: 20px; /* Top margin for the table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a soft shadow */
}

/* Styles for table cells */
th, td {
    padding: 12px; /* Adds padding inside the cells */
    text-align: left; /* Aligns text to the left */
    border-bottom: 1px solid #ddd; /* Adds a bottom border to the cells */
}

/* Styles for table header cells */
th {
    background-color: #001A72; /* Blue background color */
    color: #fcfcfc; /* Text color */
    padding: 12px; /* Adds padding inside the cells */
    text-align: left; /* Aligns text to the left */
    border-bottom: 1px solid #ddd; /* Adds a bottom border to the cells */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a shadow effect */
}

/* Styles for forms */
form {
    margin-bottom: 20px; /* Bottom margin for forms */
}

/* Styles for the comment field */
textarea {
    width: calc(100% - 22px); /* Width of the comment field */
    padding: 8px; /* Adds padding around the text */
    margin-top: 5px; /* Top margin of the comment field */
    border: 1px solid #ccc; /* Border of the comment field */
    border-radius: 4px; /* Rounded border of the comment field */
    resize: none;
}

/* Styles for buttons */
button {
    background-color: #001A72; /* Button background color */
    color: white; /* Button text color */
    padding: 12px 20px; /* Adds padding around the text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded border */
    cursor: pointer; /* Changes cursor on hover */
    margin-top: 10px; /* Top margin */
}

/* Changes the button background color on hover */
button:hover {
    background-color: #E5E6F5;
    color: #001A72;
}

tr:nth-child(even) {
    background-color: #f2f2f2b3; /* Background color for even rows */
}
tr:nth-child(odd) {
    background-color: #e3e3ecb3; /* Background color for odd rows */
}

/* Styles for dropdown lists */
select {
    width: calc(100% - 22px); /* Width of the dropdown list */
    padding: 10px; /* Adds padding around the text */
    border: 1px solid #ccc; /* Border of the dropdown list */
    border-radius: 4px; /* Rounded border */
    background-color: white; /* Background color */
    font-size: 16px; /* Text size */
    appearance: none; /* Removes default OS styling */
    -webkit-appearance: none; /* For WebKit-based browsers */
    -moz-appearance: none; /* For Gecko-based browsers */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"><path d="M7 10l5 5 5-5H7z"/></svg>'); /* Adds a dropdown arrow */
    background-repeat: no-repeat; /* Prevents background image repetition */
    background-position: right 10px center; /* Background image position */
}

/* Styles for the logout button */
.logout-button {
    background-color: #001A72; /* Button background color */
    color: white; /* Button text color */
    padding: 12px 20px; /* Adds padding around the text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded border */
    cursor: pointer; /* Changes cursor on hover */
    margin-top: 20px; /* Top margin */
    display: block; /* Displays the button as a block */
    width: 100%; /* Button width */
    box-sizing: border-box; /* Includes padding and border in total width and height */
}

/* Changes the logout button background color on hover */
.logout-button:hover {
    background-color: #E5E6F5;
    color: #001A72;
}

a {
    text-decoration: none; /* Removes underline */
    color: #fbf9fc; /* Text color */
    display: inline-block; /* Displays links as blocks */
    padding: 10px 20px; /* Padding */
    background-color: #001A72; /* Background color */
    border-radius: 5px; /* Rounded border */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin: 10px; /* Margin */
}

a:hover {
    background-color: #E5E6F5;
    color: #001A72; /* Changes background color on link hover */
}
