/* Sets the main font for the entire body of the document */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Background color */
    margin: 0; /* Removes the body's outer margin */
    padding: 0; /* Removes the body's padding */
}

/* Styles for level 1 headers */
h1 {
    color: #333; /* Text color */
    text-align: center; /* Centers the text */
    margin-top: 150px; /* Top margin */
}

.fondo {
    background:
    url(../img/register_fondo.jpeg);
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position:center;
}
.contenedor{
    width: 80%;
}

/* Styles for forms */
form {
    display: grid;
    place-items: center;
    width: 25%; /* Maximum form width */
    height: 50vh;
    margin: 0 auto; /* Centers the form horizontally */
    background-color: #fff; /* Form background color */
    padding: 20px; /* Inner padding of the form */
    border-radius: 8px; /* Rounded border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin-bottom: 10dvh;
}

/* Styles for labels */
label {
    display: block; /* Displays labels as blocks */
    margin-bottom: 8px; /* Bottom margin */
    color: #555; /* Text color */
}

/* Styles for text, email, password fields and textarea */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: calc(100% - 22px); /* Field width considering padding and border */
    padding: 10px; /* Inner padding */
    margin-bottom: 20px; /* Bottom margin */
    border: 1px solid #ccc; /* Field border */
    border-radius: 4px; /* Rounded border */
    box-sizing: border-box; /* Includes padding and border in total width */
}

/* Styles for the submit button */
button[type="submit"] {
    background-color: #040540; /* Background color */
    color: #fff; /* Text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded border */
    padding: 12px 20px; /* Inner padding */
    cursor: pointer; /* Changes cursor on hover */
    display: block; /* Displays the button as a block */
    margin: 0 auto; /* Centers the button horizontally */
}

/* Changes the background color of the submit button on hover */
button[type="submit"]:hover {
    background-color: #E5E6F5;
    color: #001A72;
}

/* Styles for links */
a {
    display: block; /* Displays links as blocks */
    text-align: center; /* Centers the text */
    margin-top: 20px; /* Top margin */
    color: #007bff; /* Text color */
    text-decoration: none; /* Removes underline */
}
