/* Style Reset */
* {
    margin: 0; /* Removes outer margin */
    padding: 0; /* Removes padding */
    box-sizing: border-box; /* Makes box model include padding and border */
}

/* General Styles */
body {
    font-family: Arial, sans-serif; /* Sets the font */
    background-color: #f2f2f2; /* Background color */
    display: flex; /* Uses flexbox model */
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px; /* Body takes full height of the viewport */
}

.fondoIndex {
    background: linear-gradient(90deg,hsla(0, 0%, 100%, 0.8),#ffffff60),
    url(../img/fondo_inicio.jpg);
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    background-position:center;
}
.fondoPQRS {
    background: linear-gradient(90deg,hsla(0, 0%, 100%, 0.8),#ffffff60),
    url(../img/Fondo\ 1.jpg);
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    background-position:center;
}
.fondoHistorial {
    background: linear-gradient(90deg,hsla(0, 0%, 100%, 0.8),#ffffff60),
    url(../img/Fondo\ 1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position:center;
}
.fondoSumbit{
    background:
    url(../img/pqrs.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position:center;
}

.contenedor {
    background-color: #fff; /* Form background color */
    padding: 20px; /* Inner padding of the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow */
    max-width: 350px; /* Maximum width of the form */
    width: 100%; /* Adjusts to available width */
}

.container {
    width: 80%; /* Container width */
    margin: auto; /* Centers the container horizontally */
    overflow: hidden; /* Prevents content from overflowing container */
}

/* Headings */
h1 {
    color: #001A72  ; /* Heading color */
    margin-bottom: 20px; /* Bottom margin */
    text-align: center; /* Centers the text */
    font-size: 36px; /* Font size */
    text-shadow: 1px 1px 1px #ccc; /* Text shadow */
}

/* Links */
a {
    text-align: center;
    text-decoration: none; /* Removes underline */
    color: white; /* Text color */
    display: flex; /* Displays links as blocks */
    flex-direction: column;
    padding: 10px 20px; /* Padding */
    background-color: #001A72 ; /* Background color */
    border-radius: 5px; /* Rounded border */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin: 10px; /* Margin */
}

a:hover {
    background-color: #E5E6F5;
    color: #001A72; /* Changes background color when hovering over the link */
}

/* Buttons */
button, .button {
    display: inline-block; /* Displays buttons as blocks */
    background: #001A72; /* Background color */
    color: #fff; /* Text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5px; /* Rounded border */
    transition: background 0.3s ease; /* Smooth transition */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
    margin-right: 10px; /* Right margin */
}

button:last-child, .button:last-child {
    margin-right: 0; /* Removes right margin from the last button in a row */
}

button:hover, .button:hover {
    background-color: #E5E6F5;
    color: #001A72; /* Changes background color when hovering over the button */
}

/* Forms */
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    margin-bottom: 10px; /* Bottom margin */
    border-radius: 5px; /* Rounded border */
    border: 1px solid #ccc; /* Border */
}

textarea {
    height: 100px; /* Height */
}

/* Table styles */
table {
    width: 100%; /* Full width */
    border-spacing: 0; /* Border spacing */
    border-collapse: collapse; /* Collapse borders */
    margin-bottom: 20px; /* Bottom margin */
}

th, td {
    padding: 12px; /* Padding */
    border: 1px solid #ccc; /* Border */
}

th {
    background-color: #001A72; /* Header background color */
    color: #fff; /* Text color */
}

td {
    text-align: left; /* Text alignment */
}

tr:nth-child(even) {
    background-color: #f2f2f2b3; /* Background color for even rows */
}
tr:nth-child(odd) {
    background-color: #e3e3ecb3; /* Background color for odd rows */
}

tr:hover {
    background-color: #ddd; /* Changes background color on row hover */
}

/* Cards */
.card {
    background: #fff; /* Background color */
    border-radius: 5px; /* Rounded border */
    padding: 20px; /* Padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    margin-bottom: 20px; /* Bottom margin */
}

/* Error Messages */
.error-msg {
    background: #8b0000; /* Background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Rounded border */
    margin-bottom: 10px; /* Bottom margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
}

/* Success Messages */
.success-msg {
    background: #556b2f; /* Background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Rounded border */
    margin-bottom: 10px; /* Bottom margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
}

/* Footer */
footer {
    background: #4b0082; /* Background color */
    color: #fff; /* Text color */
    text-align: center; /* Centers the text */
    padding: 10px; /* Padding */
    position: fixed; /* Fixed position */
    bottom: 0; /* At the bottom */
    width: 100%; /* Full width */
}
